name: Extract Branch Name

on:
  push:
    branches:
      - '*'
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  extract_branch_name:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Extract branch name
        run: |
          if [[ "${{ github.event_name }}" == "push" ]]; then
            echo "Branch name (push): $(basename $GITHUB_REF)"
          elif [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "Branch name (pull_request): ${{ github.head_ref }}"
          fi

      # Add more steps as needed for your workflow
